<div id="deleteContactPopup" class="popupWrapper">
    <div class="overlay abs-center"></div>
    <div class="popup abs-center">
        <div class="header">Delete</div>
        <div class="body">
            <div class="question">Are you sure you want to delete this contact?</div>
            <div class="name">{{contact.fullName}}</div>
            <div class="buttons">
                <button class="cancel-btn" (click)="closeEmitter.emit()">Cancel</button>
                <button class="submit-btn" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>
