@import "src/theme.scss";

$imageUploadBg: rgba(45, 161, 173, 0.4);

#contactDetailsArea {
  position: absolute;
  background-color: white;
  min-height: 100%;
  width: 100%;
  z-index: 1;

  .inner {
    width: 855px;
    margin-top: 57px;

    .profile-pic-wrapper {
      float: left;
      width: 186px;
      height: 186px;

      &.upload-enabled {
        background-color: $imageUploadBg;
        cursor: pointer;
      }

      &:hover .image-upload-icon {
        visibility: visible !important;
      }

      .image-upload-icon {
        height: 20px;
        width: auto;
        z-index: 1;

        &.image-exists {
          visibility: hidden;
        }
      }
    }

    #contactDetails {
      position: relative;
      float: right;
      width: 630px;
      padding-bottom: 50px;

      .header {
        position: relative;
        height: 94px;
        width: 100%;
        border-bottom: 1px solid $colorTealPrime;

        .delete-option {
          position: relative;
          color: $colorGreyPrime;
          font-size: $fontSmall;
          height: 94px;
          line-height: 94px;
          width: 75px;
          float: right;
          cursor: pointer;

          &:hover {
            color: $colorTealPrime;
          }
        }

        .header-icon {
          position: relative;
          width: 15px;
          height: 15px;
          float: right;
          top: 50%;
          transform: translateY(-50%);

          &.back-btn {
            width: 21px;
            height: 16px;
            float: left;
            margin-left: 5px;
          }

          &.fav-icon {
            margin-right: 45px;
          }
        }

        .header-name {
          position: absolute;
          left: 45px;
          right: 85px;
          height: 100%;
          line-height: 94px;
          color: $colorGreyPrime;
          font-size: $fontLarge;
        }
      }

      table.content-data-table {
        width: 80%;
        margin-top: 60px;

        tr {
          vertical-align: top;

          td {
            position: relative;
            width: 1%;
            padding-bottom: 70px;
            font-size: $fontSmall;

            &.contact-data {
              color: $colorGreyPrime;

              &.phone-data {
                div {
                  display: grid;
                  grid-template-columns: auto auto;

                  div {
                    display: inline-grid;
                  }
                }
              }
            }


            .label-with-icon {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .contact-form {
        position: relative;
        width: 100%;

        form {
          width: 100%;

          .form-control {
            position: relative;
            height: 150px;
            width: 100%;
            border-bottom: 1px solid $colorTealPrime;

            &.phone-inputs {
              border: none;
              height: auto;

              .phone-input {
                height: auto;
                display: inline-grid;
                grid-template-columns: auto auto auto;
                position: relative;

                input {
                  margin-right: 30px;
                  float: left;

                  &.phone-type {
                    width: 240px;
                  }
                }

                .phone-delete {
                  position: relative;
                  height: 30px;
                  width: 30px;
                  opacity: 0.5;
                  border: 1px solid $colorGreyPrime;
                  border-radius: 50%;
                  cursor: pointer;
                  float: left;
                  top: 50%;
                }

                .form-error {
                  bottom: -20px;
                }
              }

              .phone-add {
                position: relative;
                height: 32px;
                display: block;
                white-space: nowrap;
                margin-top: 45px;

                .icon {
                  position: relative;
                  height: 32px;
                  width: 32px;
                  border: 1px solid $colorTealPrime;
                  border-radius: 50%;
                  float: left;
                  margin-right: 15px;
                  cursor: pointer;

                  img {
                    height: 30%;
                    width: auto;
                  }
                }

                .text {
                  font-size: $fontSmall;
                  color: $colorTealPrime;
                  line-height: 32px;
                  float: left;
                }
              }
            }

            .label-with-icon {
              position: relative;
              top: 17px;
            }

            input {
              width: 300px;
              height: 60px;
              margin-top: 40px;
            }

            .form-error {
              position: absolute;
              font-size: $fontSmall;
              color: red;
            }
          }

          .form-buttons {
            width: 100%;
            margin-top: 50px;

            .cancel-btn {
              float: left;
            }

            .submit-btn {
              float: right;
            }
          }
        }
      }
    }
  }
}

.label-with-icon {
  position: absolute;
  color: $colorTealPrime;

  img {
    width: 15px;
    height: auto;
  }

  label {
    margin-left: 30px;
  }
}
