<div id="contactDetailsArea">
    <div class="inner abs-center-horizontal">
        <div class="profile-pic-wrapper" [ngClass]="{'upload-enabled': imageUploadEnabled}"
             (click)="imageUploadEnabled ? toggleImageUrlInputPopup(true) : null">
            <img *ngIf="imageUrl" imgLoad [imageUrl]="imageUrl">
            <img *ngIf="imageUploadEnabled" class="abs-center image-upload-icon"
                 [ngClass]="{'image-exists': imageUrl != null}" src="./assets/images/upload_icon.png">
        </div>
        <div id="contactDetails">
            <div class="header">
                <div class="header-icon back-btn" [innerHTML]="svgService.getSvg(svgService.svgKeys.BACK_ICON)"
                     (click)="location.back()"></div>
                <ng-container *ngIf="detailsService.detailsMode === detailsService.detailsModes.READONLY">
                    <div class="header-name text-overflow-ellipsis">{{contact.fullName}}</div>
                    <div class="header-icon" [innerHTML]="svgService.getSvg(svgService.svgKeys.EDIT_ICON)"
                         (click)="enterEditMode()"></div>
                    <div *ngIf="!contact?.favorite" class="header-icon fav-icon"
                         [innerHTML]="svgService.getSvg(svgService.svgKeys.FAV_ICON)"
                         (click)="toggleFavorite(contact.id)"></div>
                    <div *ngIf="contact?.favorite" class="header-icon fav-icon"
                         [innerHTML]="svgService.getSvg(svgService.svgKeys.FAV_FULL_ICON)"
                         (click)="toggleFavorite(contact.id)"></div>
                </ng-container>
                <ng-container *ngIf="detailsService.detailsMode === detailsService.detailsModes.EDIT">
                    <div class="delete-option" (click)="showDeletePrompt = true">
                        Delete
                        <div class="header-icon"
                             [innerHTML]="svgService.getSvg(svgService.svgKeys.DELETE_ICON)"></div>
                    </div>
                </ng-container>
            </div>
            <table class="abs-center-horizontal content-data-table"
                   *ngIf="detailsService.detailsMode === detailsService.detailsModes.READONLY">
                <tr>
                    <td>
                        <div class="label-with-icon">
                            <img class="icon" src="./assets/images/mail_icon.png">
                            <label>email</label>
                        </div>
                    </td>
                    <td class="contact-data text-overflow-ellipsis">{{contact.email}}</td>
                </tr>
                <tr>
                    <td class="label-with-icon">
                        <img class="icon" src="./assets/images/phone_icon.png">
                        <label>numbers</label>
                    </td>
                    <td class="contact-data phone-data">
                        <table>
                            <tr *ngFor="let phoneNumber of contact.phoneNumbers">
                                <td>{{phoneNumber.type}}</td>
                                <td>{{phoneNumber.number}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="contact-form" *ngIf="detailsService.detailsMode !== detailsService.detailsModes.READONLY">
                <form [formGroup]="form" (ngSubmit)="saveChanges(form)">
                    <div class="form-control">
                        <div class="label-with-icon">
                            <img class="icon" src="./assets/images/profile_icon.png">
                            <label>full name</label>
                        </div>
                        <input type="text" formControlName="fullName" placeholder="Full name"
                               [ngClass]="{'invalid': showFormValidationErrors && fullNameControl.invalid}">
                        <div *ngIf="showFormValidationErrors && fullNameControl.invalid" class="form-error">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-control">
                        <div class="label-with-icon">
                            <img class="icon" src="./assets/images/mail_icon.png">
                            <label>email</label>
                        </div>
                        <input type="text" formControlName="email" placeholder="Email"
                               [ngClass]="{'invalid': showFormValidationErrors && emailControl.invalid}">
                        <div *ngIf="showFormValidationErrors && emailControl.invalid" class="form-error">
                            {{emailControl.errors.required ? 'Email address is required' : emailControl.errors.invalidFormat}}
                        </div>
                    </div>
                    <div class="form-control phone-inputs" formArrayName="phoneNumbers">
                        <div class="label-with-icon">
                            <img class="icon" src="./assets/images/phone_icon.png">
                            <label>numbers</label>
                        </div>
                        <div *ngFor="let phoneNumberControl of phoneNumbersArrayControl, let i = index"
                             class="phone-input">
                            <div>
                                <input type="text" placeholder="Number"
                                       [formControl]="phoneNumberControl.controls.number"
                                       value="{{phoneNumberControl.controls.number.value}}"
                                       [ngClass]="{'invalid': showFormValidationErrors && phoneNumberControl.controls.number.invalid}">
                                <div *ngIf="showFormValidationErrors && phoneNumberControl.controls.number.invalid"
                                     class="form-error">
                                    {{phoneNumberControl.controls.number.errors.required ? 'Phone number is required' : phoneNumberControl.controls.number.errors.invalidFormat}}
                                </div>
                            </div>
                            <div>
                                <input type="text" class="phone-type"
                                       placeholder="type"
                                       [formControl]="phoneNumberControl.controls.type"
                                       value="{{phoneNumberControl.controls.type.value}}"
                                       [ngClass]="{'invalid': showFormValidationErrors && phoneNumberControl.controls.type.invalid}">
                                <div *ngIf="showFormValidationErrors && phoneNumberControl.controls.type.invalid"
                                     class="form-error">Phone type is required.
                                </div>
                            </div>
                            <div class="phone-delete" [innerHTML]="svgService.getSvg(svgService.svgKeys.PLUS_ICON)"
                                 (click)="removePhoneNumber(i)"></div>
                        </div>
                        <div class="phone-add">
                            <div class="icon" (click)="addPhoneNumber()">
                                <img class="abs-center" src="./assets/images/add_icon.png">
                            </div>
                            <div class="text">Add number</div>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button class="cancel-btn" type="button" (click)="cancelChanges()">Cancel</button>
                        <button class="submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-upload-image-popup *ngIf="showImageUrlInput" [imageUrlInput]="imageUrl" (closeEmitter)="showImageUrlInput = false"
                        (saveEmitter)="imageUrl = $event"></app-upload-image-popup>

<app-delete-popup *ngIf="showDeletePrompt" [contact]="contact"
                  (closeEmitter)="showDeletePrompt = false"></app-delete-popup>
