@import "../contact-details.component.scss";

$imageUploadBg: rgba(45, 161, 173, 0.4);

#contactDetailsArea {
  position: absolute;
  background-color: white;
  min-height: 100%;
  width: 100%;
  z-index: 1;

  .inner {
    width: 60%;
    margin-top: 60px;
    min-width: 500px;

    .profile-pic-wrapper {
      float: left;
      width: 13vw;
      height: 13vw;
      min-height: 115px;
      min-width: 115px;

      &.upload-enabled {
        background-color: $imageUploadBg;
        cursor: pointer;
      }

      &:hover .image-upload-icon {
        visibility: visible !important;
      }

      .image-upload-icon {
        height: 20px;
        width: auto;
        z-index: 1;

        &.image-exists {
          visibility: hidden;
        }
      }
    }

    #contactDetails {
      position: relative;
      float: right;
      width: 75%;
      padding-bottom: 50px;

      .header {
        position: relative;
        height: 94px;
        width: 100%;
        border-bottom: 1px solid $colorTealPrime;

        .delete-option {
          position: relative;
          color: $colorGreyPrime;
          font-size: $fontSmall;
          height: 94px;
          line-height: 94px;
          width: 75px;
          float: right;
          cursor: pointer;

          &:hover {
            color: $colorTealPrime;
          }
        }

        .header-icon {
          position: relative;
          width: 15px;
          height: 15px;
          float: right;
          top: 50%;
          transform: translateY(-50%);

          &.back-btn {
            width: 21px;
            height: 16px;
            float: left;
            margin-left: 5px;
          }

          &.fav-icon {
            margin-right: 45px;
          }
        }

        .header-name {
          position: absolute;
          left: 45px;
          right: 85px;
          height: 100%;
          line-height: 94px;
          color: $colorGreyPrime;
          font-size: $fontLarge;
        }
      }

      .contact-data-grid {
        display: grid;
        top: 100%;
        width: 80%;
        grid-row-gap: 70px;

        .contact-data-grid-row {
          display: grid;
          grid-template-columns: 5% 20% 75%;
          grid-column-gap: 15px;
          min-width: 40%;

          .icon {
            width: 1vw;
            height: auto;
            min-width: 15px;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
          }

          .label {
            color: $colorTealPrime;
            font-size: $fontSmall;
          }

          .data {
            color: $colorGreyPrime;
            font-size: $fontSmall;

            &.phone-data-grid {
              display: grid;
              grid-row-gap: 40px;

              .phone-data-grid-row {
                display: grid;
                grid-template-columns: 30% 70%;
                grid-column-gap: 20px;

                .number {
                  font-family: 'Lato Regular', sans-serif;
                }
              }
            }
          }
        }
      }

      .contact-form {
        position: relative;
        width: 100%;

        form {
          width: 100%;

          .form-control {
            position: relative;
            height: 150px;
            width: 100%;
            border-bottom: 1px solid $colorTealPrime;

            &.phone-inputs {
              border: none;
              height: auto;

              .phone-input {
                height: auto;
                display: grid;
                grid-template-columns: 50% 40% 10%;
                grid-column-gap: 30px;
                position: relative;

                input {
                  width: 100%;
                  margin-right: 30px;
                  float: left;
                }

                .phone-delete {
                  position: relative;
                  height: 30px;
                  width: 30px;
                  opacity: 0.5;
                  border: 1px solid $colorGreyPrime;
                  border-radius: 50%;
                  cursor: pointer;
                  float: left;
                  top: 50%;
                }

                .form-error {
                  bottom: -25%;
                }
              }

              .phone-add {
                position: relative;
                height: 32px;
                display: block;
                white-space: nowrap;
                margin-top: 45px;

                .icon {
                  position: relative;
                  height: 32px;
                  width: 32px;
                  border: 1px solid $colorTealPrime;
                  border-radius: 50%;
                  float: left;
                  margin-right: 15px;
                  cursor: pointer;

                  img {
                    height: 30%;
                    width: auto;
                  }
                }

                .text {
                  font-size: $fontSmall;
                  color: $colorTealPrime;
                  line-height: 32px;
                  float: left;
                }
              }
            }

            .label-with-icon {
              position: relative;
              top: 17px;
            }

            input {
              width: 50%;
              height: 60px;
              margin-top: 40px;
            }

            .form-error {
              position: absolute;
              font-size: $fontSmall;
              color: red;
              margin-top: 0.5%;
            }
          }

          .form-buttons {
            width: 100%;
            margin-top: 50px;

            .cancel-btn {
              float: left;
            }

            .submit-btn {
              float: right;
            }
          }
        }
      }
    }
  }
}

.label-with-icon {
  position: absolute;
  color: $colorTealPrime;

  img {
    width: 15px;
    height: auto;
  }

  label {
    margin-left: 30px;
  }
}
