@import "../contact-details.component.scss";

#contactDetailsArea {
  z-index: 1;
  background: white;

  .header {
    width: 100%;
    height: 7.5vh;
    border-bottom: 1px solid $colorGreyPrime;

    .header-inner {
      width: 86.6%;
      height: 100%;

      .delete-option {
        position: relative;
        color: $colorGreyPrime;
        font-size: $fontMobileSmall;
        height: 100%;
        float: right;

        &:hover {
          color: $colorTealPrime;
        }
      }

      .header-icon {
        position: relative;
        width: auto;
        height: 28%;
        float: right;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 6%;

        &.back-btn {
          float: left;
          margin-right: 0;
        }

        &.fav-icon {
          margin-right: 12%;
        }
      }
    }
  }

  .inner {
    width: 86.6%;
    top: 7.5vh;

    #contactDetails {
      width: 100%;

      .profile {
        width: 100%;
        height: 15vh;
        border-bottom: 1px solid $colorTealPrime;

        &.upload-enabled {
          height: 30vh;
        }

        .profile-pic-wrapper {
          width: 8.4vh;
          height: 8.4vh;

          &.upload-enabled {
            left: 0;
            right: 0;
            width: 24vh;
            height: 24vh;
          }
        }

        .profile-name {
          right: 0;
          width: 76%;
          font-size: $fontMobileExtraLarge;
          color: $colorGreySecondary;
          line-height: 15vh;
        }
      }

      .contact-data-grid {
        top: 20vh;
        width: 85%;
        display: grid;

        .contact-data-grid-row {
          display: inline-grid;
          grid-template-columns: 10% 1fr;
          grid-column-gap: 2.5vw;
          margin-bottom: 7.5vh;

          .icon {
            img {
              width: 4vw;
              height: auto;
            }
          }

          .data {
            font-size: $fontMobileRegular;
            display: inline-grid;

            label {
              color: $colorTealPrime;
              display: table-cell;
              padding-bottom: 1.8vh;
            }

            span {
              color: $colorGreySecondary;
              font-family: 'Lato Regular', sans-serif;
              overflow: auto;

              &::-webkit-scrollbar {
                display: none;
              }
            }

            .phone-numbers-grid {
              display: inline-grid;
              width: 100%;

              .phone-numbers-grid-row {
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 8.5vw;
                margin-bottom: 4.8vh;
                color: $colorGreySecondary;

                .number {
                  font-family: 'Lato Regular', sans-serif;
                }
              }
            }
          }
        }
      }

      .contact-form {
        position: absolute;
        width: 100%;
        top: 30vh;
        padding-bottom: 7.5vh;

        form {
          width: 100%;

          .form-control {
            position: relative;
            height: 18.7vh;
            width: 100%;
            border-bottom: 1px solid $colorTealPrime;

            .form-control-grid {
              height: 100%;
              width: 100%;
              display: grid;
              grid-template-rows: 40% 60%;

              &.phone-inputs {
                grid-template-rows: 7.5vh auto 1fr;

                .phone-input-grid {
                  display: grid;
                  grid-template-rows: 7.5vh 7.5vh 3vh;
                  grid-row-gap: 1.54vh;

                  .phone-input-grid-row {
                    display: grid;

                    &.second-row {
                      grid-template-columns: 85% 15%;
                      position: relative;

                      input{
                        height: 100%;
                      }

                      .phone-delete {
                        height: 4.8vh;
                        width: 4.8vh;
                        opacity: 0.5;
                        border: 1px solid $colorGreyPrime;
                        border-radius: 50%;
                        right: 0;
                      }
                    }

                    &.form-error {
                      margin-top: -1vh;
                      font-size: $fontMobileSmall;
                    }
                  }
                }
              }

              .form-control-grid-row {
                display: grid;

                &.label {
                  grid-template-columns: 10% auto;
                  align-content: center;

                  img {
                    height: 30%;
                    width: auto;
                    float: left;
                  }

                  label {
                    font-size: $fontMobileSmall;
                    color: $colorTealPrime;
                  }
                }

                &.input {
                  grid-template-rows: 65% 35%;

                  .form-error {
                    font-size: $fontMobileSmall;
                    display: inline-grid;
                    align-content: center;
                  }
                }
              }
            }

            &.phone-inputs {
              border: none;
              height: auto;

              .phone-input {
                height: auto;
                display: inline-grid;
                grid-template-columns: auto auto auto;
                position: relative;

                input {
                  margin-right: 30px;
                  float: left;

                  &.phone-type {
                    width: 240px;
                  }
                }

                .phone-delete {
                  position: relative;
                  height: 30px;
                  width: 30px;
                  opacity: 0.5;
                  border: 1px solid $colorGreyPrime;
                  border-radius: 50%;
                  cursor: pointer;
                  float: left;
                  top: 50%;
                }

                .form-error {
                  bottom: -20px;
                  font-size: $fontMobileSmall;
                }
              }

              .phone-add {
                position: relative;
                height: 4.8vh;
                display: block;
                white-space: nowrap;
                margin-top: 1vh;

                .icon {
                  position: relative;
                  height: 32px;
                  width: 32px;
                  border: 1px solid $colorTealPrime;
                  border-radius: 50%;
                  float: left;
                  margin-right: 15px;
                  cursor: pointer;

                  img {
                    height: 30%;
                    width: auto;
                  }
                }

                .text {
                  font-size: $fontSmall;
                  color: $colorTealPrime;
                  line-height: 32px;
                  float: left;
                }
              }
            }
          }

          .form-buttons {
            width: 100%;
            margin-top: 50px;

            .cancel-btn {
              float: left;
            }

            .submit-btn {
              float: right;
            }
          }
        }
      }
    }
  }
}
