@import "../contacts.component.scss";

#contactListArea {
  top: 12%;

  #searchBar {
    height: 7.5vh;
    width: 86.6%;
    min-width: 250px;
  }

  #contactList {
    width: 86.6%;
    top: 12vh;
    min-width: 250px;

    .tile {
      width: 100%;
      height: 9vh;
      margin-bottom: 1.5%;

      &#newContact {
        .inner {
          height: 30%;
          width: 100%;
          display: inline-block;
          left: 6.3%;

          img {
            height: 100%;
            width: auto;
            float: left;
          }

          .text {
            font-size: $fontMobileSmall;
            float: left;
            margin-left: 4.8vw;
          }
        }
      }

      .tile-actions {
        right: 0;
        height: 24%;
        width: 35%;

        .tile-action-icon{
          margin-right: 8.5vw;
        }
      }
    }

    .profile {
      height: 7vh;
      width: 60%;
      left: 3.6%;

      .profile-pic-wrapper {
        height: 7vh;
        width: 7vh;
      }

      .profile-name {
        width: 65%;
        font-size: $fontMobileSmall;
        height: 7vh;
        line-height: 7vh;
        left: calc(7vh + 6.6vw);
      }
    }
  }
}
