<div [ngClass]="{'mobile': isMobileDevice}">
    <div id="appHeader">
        <div class="background abs-center"></div>
        <div class="logo abs-center">
            <img src="../assets/images/typeqast_logo.png">
        </div>
        <div class="bottom-rect"></div>
    </div>
    <div *ngIf="svgService.svgsLoaded" id="appBody">
        <div #menu class="menu abs-center-horizontal">
            <a class="contacts-link" [ngClass]="{'active' : activeOption === 'contacts'}" routerLink="/contacts" (click)="activeOption = 'contacts'">All contacts</a>
            <span>|</span>
            <a class="favorites-link" [ngClass]="{'active' : activeOption === 'favorites'}" routerLink="/favorites" (click)="activeOption = 'favorites'">My Favorites</a>
        </div>
        <app-toast></app-toast>
        <router-outlet></router-outlet>
    </div>
</div>
