@import "../theme.scss";

#appHeader {
  position: fixed;
  height: 60px;
  width: 100%;
  min-width: 200px;
  background-color: white;
  z-index: 1;

  .background {
    background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
  }

  img {
    position: absolute;
    height: 20px;
    width: 180px;
  }

  .bottom-rect {
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    opacity: 0.3;
    transform: scaleY(-1);
    background-color: white;
  }
}

#appBody {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: .3em;
    height: .3em;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colorTealPrime;
  }

  .menu {
    height: 120px;
    width: 87.5%;
    border-bottom: $colorTealPrime solid 1px;
    text-align: center;
    display: table;

    a {
      color: $colorGreyPrime;
      font-size: $fontRegular;
      text-decoration: none;
      cursor: pointer;
      display: table-cell;
      vertical-align: middle;

      &.active {
        color: $colorTealPrime;
      }

      &.contacts-link {
        margin-right: 30px;
      }

      &.favorites-link {
        margin-left: 30px;
      }
    }

    span {
      color: $colorGreyPrime;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.mobile {
  #appHeader {
    height: 7.5%;

    .logo{
      height: 33%;
      width: 100%;
    }

    img {
      position: relative;
      height: 100%;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #appBody {
    top: 7.5%;

    .menu {
      height: 7.5%;
      width: 86.6%;
      min-width: 250px;

      a {
        font-size: $fontMobileSmall;
      }
    }
  }
}
