@import "src/theme.scss";

#contactListArea {
  position: absolute;
  width: 100%;
  top: 120px;

  #searchBar {
    height: 180px;
    width: 100%;

    .inner {
      height: 60px;
      width: 540px;

      input {
        height: 100%;
        width: 100%;
        border: 1px solid $greyLight;
        box-shadow: 0 2px 34px 0 $greyShadow;
        padding-left: 65px;
      }

      img {
        z-index: 1;
        height: 18px;
        width: 17px;
        left: 23px;
      }
    }
  }

  #contactList {
    position: absolute;
    left: 137px;

    &.search-bar-hidden{
      top: 50px;
    }

    .tile {
      position: relative;
      width: 270px;
      height: 150px;
      border: $tileBorderPrime;
      border-radius: 4px;
      cursor: pointer;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;

      &:hover {
        border-color: $tealPrime;
        border-style: solid !important;
      }

      &#newContact {
        border-color: $tealPrime;
        border-style: dashed;

        .inner {
          height: 50px;
          width: 70px;

          .text {
            font-family: 'Lato Regular', sans-serif;
            font-size: $fontSmall;
            text-align: center;
            color: $tealPrime;
            opacity: 0.5;
            bottom: 0;
            width: 100%;
          }

          img {
            height: 18px;
            width: 18px;
            top: 0;
          }
        }
      }

      .tile-header {
        position: absolute;
        top: 0;
        left: 17px;
        right: 17px;

        .tile-header-icon {
          position: relative;
          margin-top: 15px;
          height: 15px;
          width: 15px;
          float: right;

          &.fav-icon {
            float: left;
          }

          &.edit-icon {
            margin-right: 26px;
          }
        }
      }
    }

    .profile {
      height: 100px;
      width: 100%;

      .profile-pic-wrapper {
        width: 66px;
        height: 66px;
      }

      .profile-name{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: $greyPrime;
        font-size: $fontRegular;
        max-width: 90%;
      }
    }
  }
}
