@import "../contacts.component.scss";

#contactListArea {
  position: absolute;
  width: 100%;
  top: 120px;

  #searchBar {
    height: 180px;
    width: 100%;

    .inner {
      height: 30%;
      width: 37.5%;
      min-width: 400px;

      input {
        padding-left: 12%;
      }

      img {
        left: 4%
      }
    }
  }

  #contactList {
    display: flex;
    flex-wrap: wrap;
    width: 81.85%;

    &.search-bar-hidden {
      top: 50px;
    }

    .tile {
      width: 18.75vw;
      height: 10.4vw;
      min-width: 270px;
      min-height: 150px;
      margin: 0 max(10px, 0.5vw) max(20px, 1vw) max(10px, 0.5vw);

      &:hover {
        border-color: $colorTealPrime;
        border-style: solid !important;
      }

      &#newContact {
        border-color: $colorTealPrime;
        border-style: dashed;

        .inner {
          height: 33.33%;
          width: 100%;

          .text {
            font-size: $fontSmall;
            text-align: center;
            color: $colorTealPrime;
            bottom: 0;
            width: 100%;
          }

          img {
            height: 37.5%;
            width: auto;
            top: 0;
          }
        }
      }

      .tile-actions {
        position: absolute;
        left: 6.3%;
        right: 6.3%;
        height: 11.3%;
        top: 11.3%;
        z-index: 1;

        .tile-action-icon {
          position: relative;
          margin-right: 6.3%;
          height: 100%;
          float: right;

          &.fav-icon {
            float: left;
          }

          &.edit-icon {
            margin-right: 20%;
          }
        }
      }
    }

    .profile {
      height: 67%;
      width: 100%;

      .profile-pic-wrapper {
        height: 4.5vw;
        width: 4.5vw;
        min-height: 66px;
        min-width: 66px;
      }

      .profile-name {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: $colorGreyPrime;
        font-size: $fontRegular;
        max-width: 90%;
      }
    }
  }
}
