<div id="contactListArea">
    <div id="searchBar">
        <div class="inner abs-center">
            <img class="abs-center-vertical" src="../assets/images/search_icon.png">
            <input class="abs-center">
        </div>
    </div>

    <div id="contactList">
        <div id="newContact" class="tile" (click)="addNewContact()">
            <div class="inner abs-center">
                <img class="abs-center-horizontal" src="../assets/images/add_icon.png">
                <div class="text abs-center-horizontal">Add new</div>
            </div>
        </div>
        <div *ngFor="let contact of contacts" class="tile" (click)="showContactDetails(contact)">
            <div class="tile-header">
                <div class="tile-header-icon fav-icon">
                    <div *ngIf="!contact.favorite" class="off"
                         [innerHTML]="svgService.getSvg(svgService.svgKeys.FAV_ICON)"></div>
                    <div *ngIf="contact.favorite" class="on"
                         [innerHTML]="svgService.getSvg(svgService.svgKeys.FAV_FULL_ICON)"></div>
                </div>
                <div class="tile-header-icon delete-icon"
                     [innerHTML]="svgService.getSvg(svgService.svgKeys.DELETE_ICON)"></div>
                <div class="tile-header-icon edit-icon"
                     [innerHTML]="svgService.getSvg(svgService.svgKeys.EDIT_ICON)"></div>
            </div>
            <div class="profile abs-center">
                <div class="profile-pic-wrapper abs-center-horizontal">
                    <img imgLoad [imageUrl]="contact.imageUrl">
                </div>
                <div class="profile-name abs-center-horizontal">{{contact.fullName}}</div>
            </div>
        </div>
    </div>
</div>

<app-contact-details-desktop *ngIf="showDetailsView" [contact]="contactForDetails" [mode]="detailsMode"
                     [isMobileDevice]="isMobileDevice" (closeDetailsEmitter)="closeContactDetails()" (modeChangeEmitter)="changeDetailsMode($event)"></app-contact-details-desktop>
