<div id="contactListArea">
    <div id="searchBar">
        <div class="inner abs-center">
            <img class="abs-center-vertical" src="../assets/images/search_icon.png">
            <input class="abs-center">
        </div>
    </div>

    <div id="contactList">
        <div id="newContact" class="tile">
            <div class="inner abs-center">
                <img class="abs-center-horizontal" src="../assets/images/add_icon.png">
                <div class="text abs-center-horizontal">Add new</div>
            </div>
        </div>
    </div>
</div>
