@import "src/theme.scss";

// Colors
$tileBorder: rgba(187, 196, 195, 0.4);
$tileImageBorder: rgba(187, 196, 195, 0.3);

#contactListArea {
  position: absolute;
  width: 100%;
  top: 120px;

  #searchBar {
    height: 180px;
    width: 100%;

    .inner {
      height: 60px;
      width: 540px;

      input {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $grey-light;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 2px 34px 0 $grey-shadow;
        padding-left: 63px;
        padding-right: 15px;
        font-size: $fontRegular;
        color: $grey-prime;
        outline: none;

        &:focus {
          border-color: $teal-prime;
        }
      }

      img {
        z-index: 1;
        height: 18px;
        width: 17px;
        left: 23px;
      }
    }
  }

  #contactList {
    position: absolute;
    left: 137px;

    .tile {
      position: relative;
      width: 270px;
      height: 150px;
      border: 1px solid $tileBorder;
      border-radius: 4px;
      cursor: pointer;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;

      &:hover {
        border-color: $teal-prime;
        border-style: solid !important;
      }

      &#newContact {
        border-color: $teal-prime;
        border-style: dashed;

        .inner {
          height: 50px;
          width: 70px;

          .text {
            font-family: 'Lato Regular', sans-serif;
            font-size: $fontSmall;
            text-align: center;
            color: $teal-prime;
            opacity: 0.5;
            bottom: 0;
            width: 100%;
          }

          img {
            height: 18px;
            width: 18px;
            top: 0;
          }
        }
      }

      .tile-header {
        position: absolute;
        top: 0;
        left: 17px;
        right: 17px;

        .tile-header-icon {
          margin-top: 15px;
          float: right;

          &.fav-icon {
            float: left;
          }

          &.edit-icon {
            margin-right: 26px;
          }
        }
      }
    }

    .profile {
      height: 100px;
      width: 100%;

      .profile-pic {
        width: 66px;
        height: 66px;
        border: 3px solid $tileImageBorder;
        border-radius: 50%;
        overflow: hidden;
        background-color: $tileImageBorder;

        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: auto;
          width: auto;
          opacity: 0;
          transition: opacity 200ms;

          &.horizontal-align {
            height: 100%;
          }

          &.vertical-align {
            width: 100%;
          }

          &.loaded {
            opacity: 1;
          }
        }
      }

      .profile-name{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: $grey-prime;
        font-size: $fontRegular;
      }
    }
  }
}

:host ::ng-deep .tile svg {
  fill: $grey-prime;
  width: 15px;
  height: 15px;

  &:hover {
    fill: $teal-prime;
  }
}
