@import "src/theme.scss";

#toast {
  position: fixed;
  bottom: -50px;
  width: 100%;
  height: 50px;
  transition: bottom 200ms linear;
  z-index: 2;

  &.open {
    bottom: 0;
  }

  .background {
    background-color: $tealPrime;
    opacity: .4;
  }

  .message {
    color: white;
    font-size: $fontSmall;
    line-height: 50px;
    text-align: center;
  }
}
