@import "theme.scss";

@font-face {
  font-family: 'Lato Regular';
  src: url("./assets/fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url("./assets/fonts/Lato-Bold.ttf") format('truetype');
}

// html, body rules
.html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato Bold', sans-serif;
  user-select: none;
}

// Global general classes
.abs-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.abs-center-horizontal {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.abs-center-vertical {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Global specific classes
.profile-pic-wrapper {
  position: absolute;
  border: $borderTileImage;
  border-radius: 50%;
  overflow: hidden;
  background-color: $colorBgTileImage;

  img:not(.image-upload-icon) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: auto;
    width: auto;
    opacity: 0;
    // transition: opacity 200ms;

    &.horizontal-align {
      height: 100%;
    }

    &.vertical-align {
      width: 100%;
    }

    &.loaded {
      opacity: 1;
    }
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .overlay {
    background-color: black;
    opacity: .4;
  }

  .popup {
    border-radius: 4px;
    background-color: white;
    padding: 20px 30px 30px 30px;
    box-shadow: 0 0 14px 0 rgba(99, 109, 255, 0.27);
    box-sizing: border-box;
  }
}

// Global element styles
input {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $colorGreyPrime;
  background-color: white;
  padding: 0 30px 0 30px;
  font-size: $fontRegular;
  color: $colorGreyPrime;
  outline: none;

  &:focus {
    border-color: $colorTealPrime;
  }

  &.invalid {
    border-color: red;
  }

  &::placeholder {
    font-size: $fontSmall;
    color: $colorGreyPrime;
    opacity: .4;
  }
}

button {
  height: 42px;
  width: 160px;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  color: white;
  box-shadow: $shadowBtn;

  &.cancel-btn {
    background: $colorGreyPrime;
  }

  &.submit-btn {
    background: $gradientBgSubmitBtn;
  }
}

.mobile button {
  height: 6.3vh;
  width: 42.7vw;
}

// SVG rules
svg {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.height-based svg {
  width: auto;
  height: 100%;
}

.width-based {
  width: 100%;
  height: auto;
}

.tile-action-icon svg, .header-icon svg {
  fill: $colorGreyPrime;
  cursor: pointer;

  &:hover {
    fill: $colorTealPrime;
  }
}

.header .delete-option:hover svg {
  fill: $colorTealPrime;
}

.phone-delete {
  &:hover {
    border-color: $colorTealPrime;

    svg {
      fill: $colorTealPrime;
    }
  }

  svg {
    width: 50%;
    height: auto;
    fill: $colorGreyPrime;
    transform: rotate(45deg);
  }
}



