@font-face {
  font-family: 'Lato Regular';
  src: url("./assets/fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url("./assets/fonts/Lato-Bold.ttf") format('truetype');
}


.html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll;
  font-family: 'Lato Bold', sans-serif;
}

.abs-center{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.abs-center-horizontal{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.abs-center-vertical{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
