@import "src/theme.scss";

#imageUrlInputWrapper {
  .popup {
    width: 34vw;
    height: 10vw;
    min-height: 200px;
    min-width: 480px;

    label {
      font-size: $fontRegular;
      color: $colorTealPrime;
    }

    #imageUrlInput {
      height: 35%;
      width: 100%;
      margin-top: 2%;

      input {
        width: 100%;
        height: 100%;
      }

      .error {
        color: red;
      }
    }

    .buttons {
      height: auto;
      width: 90%;
      bottom: 0;
      margin: auto auto 3% auto;
    }

    .submit-btn {
      float: right;
    }
  }

  &.mobile {
    .popup {
      height: 37%;
      width: 84%;
      min-width: 185px;
      min-height: 255px;

      #imageUrlInput {
        height: 7.5vh;
        margin-top: 3vh;

        .error {
          font-size: $fontMobileSmall;
        }
      }

      .buttons {
        width: 100%;
        bottom: 0;
        margin: 0;

        button {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          float: left;
          display: block;
          margin-bottom: 5%;
        }
      }
    }
  }
}
